body {
  margin: auto;
  width: 900px;
  height: 1700px;
  line-height: 1.25em;
}

aside {
  float: right;
}

h1 {
  font-size: 2em;
  font-family: 'Francois One', sans-serif;
  margin-top: 40px;
}

h2 {
  font-family: 'kaushan script';
  font-size: 1.5em;
  margin-top: 20px;
  display: inline-block;
}

h3 {
  margin-top: 20px;
  font-family: 'Francois One', sans-serif;
  font-size: 1.25em; 
  display: inline-block;
}

div input:first-child {
  margin-top: 50px;
}

input {
  margin-top: 10px;
 }

.nav {
  margin-top: 15px;
}

.navSpace {
  margin-top: 15px;
  margin-right: 10px;
}

.infotext {
  font-family: 'Open Sans Condensed', sans-serif;
  color: lightgray;
  margin-top: 5px;
}

.footinfotext {
  font-family: 'Open Sans Condensed', sans-serif;
  color: lightgray;
  margin-top: 10px;
  text-align: center;
}

.infotextprint {
  display: inline;
  font-family: 'Open Sans Condensed', sans-serif;
  color: lightgray;
}

.mainp {
  margin-top: 30px;
  text-indent: 30px;
}

.smallline {
  height: 0px;
  border: solid lightgray 1px;
  width: 425px;
  display: inline-block;
  margin-bottom: 15px;
}

#footp {
  margin-top: 10px;
}

#input {
  position: absolute;
  top: 5%;
  left: 10%;
  font-family: 'Kalam', cursive; 
}

#input2 {
  position: absolute;
  top: 5%;
  left: 55%;
  font-family: 'Kalam', cursive; 
}

#listDiv {
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;
  width: 850px;
  height: 250px;
  padding: 25px;
  background-image: url('../assets/list-bg.png');
}

#h2subtext {
  font-family: 'Saira Extra Condensed', sans-serif;
}

#mainimg {
  margin-top: 30px;
}

#logo {
  margin-top: 15px;
  margin-right: 10px;
}

#bigline {
  height: 15px;
  width: 100%;
  background-image: linear-gradient(45deg, #ffffff 25%, #7c8387 25%, #7c8387 50%, #ffffff 50%, #ffffff 75%, #7c8387 75%, #7c8387 100%);
  background-size: 5.66px 5.66px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#leftaside {
  float: left;
}

#vanessa {
  margin-right: 15px;
}

#button {
  color: white;
  background-color: rgb(202, 113, 29);
  padding: 10px;
}

#bottomlogo {
  margin-top: 35px;
}